// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

body {
  background: linear-gradient(180deg, #5B5F97 25%, #F9F4F4 25%) !important;
}

body, .v-application {
  background-color: #F9F4F4 !important;
  background-image: linear-gradient(180deg, #5B5F97 25%, #F9F4F4 25%) !important;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 30%;
}

.max-width-1400 {
  max-width: 1400px;
}

.fill-width {
  width: 100% !important;
}